@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Iso&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Iso&family=Sedgwick+Ave+Display&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary-color: #1d1e25;
  --primary-grey: #3b3c45;
  --primary-light-grey: #6b6d7b;
  --primary-white: #e5e5eb;
  --primary-font-color: #FCDC4D;
}

h1,
p {
  color: white !important;
}

#root {
  height: 100vh;
}

.rubik-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.rubik-scribble {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text_container {
  font-size: 6rem;
  line-height: 1;
  margin-left: 5rem;
}

.nav_wrapper {
  display: flex;
  margin: 0 6rem;
  /* background-color: red; */
  justify-content: space-between;
}

.nav_wrapper>a {
  /* background-color: yellow; */
  font-family: "Rubik", sans-serif;
  color: white !important;
  font-size: 1.4rem;
}

.nav_home {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
  color: white !important;
}

#tsparticles canvas {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.custom-btn {
  background-color: #f5f5f5;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #000;
  color: #f5f5f5;
  /* border: 1px dashed #f5f5f5; */
}

.custom-btn:active {
  background-color: #000;
  color: #f5f5f5;
}

div::-webkit-scrollbar {
  display: none;
}


/* 404 page starts here */


@keyframes fly {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(50px) translateY(-20px);
  }

  100% {
    transform: translateX(100px) translateY(0);
  }
}

.spaceship {
  animation: fly 5s infinite alternate;
}

/* 404 page ends here */

/* Profile page cdd starts here */
.img-container {
  position: absolute;
  top: calc(50% - 130px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  width: 100%;
  height: auto;
}

@keyframes glowing-border {
  0% {
    border-color: #8A2BE2;
    /* Purple */
    box-shadow: 0 0 20px #8A2BE2 inset, 0 0 20px #8A2BE2;
  }

  50% {
    border-color: #4B0082;
    /* Dark purple */
    box-shadow: 0 0 40px #4B0082 inset, 0 0 40px #4B0082;
  }

  100% {
    border-color: #8A2BE2;
    /* Purple */
    box-shadow: 0 0 20px #8A2BE2 inset, 0 0 20px #8A2BE2;
  }
}

/* Profile page cdd ends here */


/* WINNER MODAL CSS starts here */
.trophy-container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.trophy-container img {
  width: 200px;
}

/* WINNER MODAL CSS ends here */


/* HOME PAGE CSS starts here */

.profile-container {
  /* background-color: red; */
  color: white;
  height: 50px;
  min-width: 9rem !important;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  border-radius: 10px;
  padding: .4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.profile-container .user-name {
  font-size: 0.9rem;
}


/* HOME PAGE CSS ends here */


/* Chessmate components styling  starts-here*/

/* .nav_home {
  background-color: yellow;
  position: relative;
  top: 0 !important;
} */


.show-top {
  position: relative;
  z-index: 2 !important;
}

.piece canvas {
  position: absolute;
  right: 0;
}

.home_wrapper {
  /* background-color: red; */
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.home_page_container {
  width: 100%;
  height: 90%;
  /* background-color: red; */
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_page_container img {
  margin-right: 10rem;
}


.chess-mate {
  z-index: 2;
  position: relative;
  background: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "simple-board simple-board simple-board"
    "footer footer footer";
}

.nav-container {
  grid-area: nav;
  grid-column: span 3;
  /* background-color: yellow; */
}

.simple-board {
  /* background-color: pink; */
  grid-area: simple-board;
  grid-column: span 3;
}

.main-container {
  margin: 0 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "chat board history";
}

.chess-board>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  grid-area: chat;
}

.chat-container {
  background-color: #343541;
  border-radius: 8px;
  /* justify-content: flex-start; */
  /* width: 100%; */
  /* margin-right: 1rem; */
  /* background-color: green; */
}



.board {
  grid-area: board;
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "chat board history";
  padding: 0 1rem;
}

.chat {
  grid-area: chat;
  width: 100%;
}

.board {
  grid-area: board;
  width: 100%;
  /* background-color: yellow; */
  /* background-color: yellow; */
}

.history {
  grid-area: history;
  /* background-color: blue; */
}

/* Chessmate components styling  ends-here*/

/* SimpleBoard styling starts-here*/

.chess-board-container p {
  font-size: 2.5rem;
}

.control-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: var(--primary-color); */
  border-radius: 5px;
  /* margin-left: 1rem; */
}

.control-container p {
  /* background-color: yellow; */
  margin: 1rem;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}

.video-grid-container {
  /* background-color: yellow; */
  background-color: var(--primary-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px dashed var(--primary-white);
}

.peer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.peer-id-input {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  width: 100%;
  /* background-color: green; */
}

.call-btn {
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  line-height: 0;
  width: 100%;
  color: white;
}

.call-btn button {
  height: 2rem;
  margin-left: 0.5rem;
}

.history {
  background-color: var(--primary-color);
  flex-grow: 1;
  /* background-color: tomato; */
  justify-content: flex-start;
}

.turns-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  /* border-bottom: 2px dashed var(--primary-white); */
}

.move-history {
  text-align: start;
  width: 95%;
  flex-wrap: wrap;
  overflow-y: auto;
  line-height: 0;
  margin-left: 10px;
  border-radius: 5px;
  /* background-color: yellow; */
}


.move-history-item {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 10px;
  text-align: center;
  line-height: 0;
  /* background-color: violet; */
}

.turns-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0, 238, 255); */
  margin: 0 0.3rem;
  font-size: 1.5rem;
}

.turns-icon>span {
  /* background-color: green; */
  margin-right: 0.5rem;
}

.turns-icon>p {
  font-size: 1rem;
}

.control-btns button {
  background-color: var(--primary-white);
  color: #000;
  border: none;
}

.control-btns button:hover {
  background-color: var(--primary-color);
  color: var(--primary-white);
  border: 1px dashed var(--primary-white);
  transition: all 0.2s ease-in-out;
}

.chat-section {
  background-color: var(--primary-color);
  /* background-color: yellow !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
}

.chat-header {
  /* background-color: turquoise; */
  padding-top: 1rem;
  height: 32rem;
  overflow-y: auto;
  /* border-top: 2px dashed var(--primary-white); */
}

.chat-header .sent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* background-color: rgb(8, 28, 243); */
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-left: 0.5rem;
}

.chat-input input {
  color: #FCDC4D;
  border: 2px dashed #FCDC4D;
  background-color: var(--primary-color);
}

.chat-input input:focus {
  color: #FCDC4D;
  background-color: var(--primary-color);
  box-shadow: none;
  border: 2px dashed #FCDC4D;
}

.chat-input input::placeholder {
  color: #b8a75d;
  background-color: var(--primary-color);
}

.chat-input input:focus::placeholder {
  color: #b8a75d;
  background-color: var(--primary-color);
}

.msg-div {
  /* background-color: #700505; */
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed;
  line-height: 1;

}

.send-btn {
  line-height: 0;
  height: 2rem;
}

.send-btn {
  line-height: 0;
  height: 2rem;
}

.sent {
  padding: 0 1rem 1rem 1rem;
  border-radius: 15px 0 15px 15px;
  text-align: start;
}

.received {
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 15px 15px 15px;
}

.msg-div::after {
  content: '';

}

.msg-div span {
  font-size: 0.8rem !important;
}



/* SimpleBoard styling ends-here*/

/* Conrols styling starts-here*/

.side-bar-container {
  background-color: var(--primary-color);
  background-color: rgb(0, 0, 0);
  display: flex;
  /* height: 100vh; */
  position: absolute;
  left: 0;
  top: 0;
}

.css-dip3t8 {
  background: none !important;
}

.logo-container {
  /* background-color: blueviolet; */
  padding: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  /* background-color: yellow; */
  width: 2rem;
  height: 2rem;
}

.controls {
  /* background-color: rgb(21, 255, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;

}

.sidebar-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* width: 100%; */
  /* background-color: yellow; */
}

.sidebar-options p {
  width: inherit;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.menu-icons {
  margin-right: 0.5rem;
  font-size: 2.1rem;

}

.menu {
  /* background-color: var(--primary-grey); */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* height: inherit; */
  width: 100%;
  /* width: 15.3rem; */
  /* position: absolute; */
  /* left: calc(10vw + 1px); */
  /* top: 7.5rem; */
  /* margin-left: 1.5rem; */


  /* font-size: 2rem; */
}

.menu button {
  background-color: var(--primary-light-grey) !important;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px dashed var(--primary-white);
}

.menu button:hover {
  background-color: var(--primary-white) !important;
  color: var(--primary-color) !important;
  transition: all 0.2s ease-in-out;
}

.btn-container {
  color: var(--primary-white);
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  /* z-index: 800; */
}

.btn-container button {
  all: unset;
  color: white;
  font-size: 1.5rem;
  align-self: flex-end;
  margin: 0.5rem 0.5;
  font-size: 2rem;
}

.btn-container button:hover {
  background: none;
}

.offcanvas-body {
  min-width: 13rem !important;
}

.offcanvas-header {
  background-color: var(--primary-color);
  color: var(--primary-white);
  font-size: 1.5rem;
}

.offcanvas .offcanvas-body {
  background-color: var(--primary-color);
}

/* Conrols styling ends-here*/



/* CustomDialog styling starts-here*/

.custom-dialogue-box {
  background-color: #1A1423;
  border-radius: 5px;
  color: #f1f1f1;
}

.custom-dialogue-box p {
  color: #FCDC4D;
}

.modal.show {
  /* background-color: red; */
  display: flex !important;
}

.winner-modal {
  align-self: center;
}

.room-btn-container {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input input {
  color: #FCDC4D;
  border: 2px dashed #FCDC4D;
  background-color: #1A1423;
}

.input input:focus {
  color: #FCDC4D;
  background-color: #1A1423;
  box-shadow: none;
  border: 2px dashed #FCDC4D;
}

.input input::placeholder {
  color: #b8a75d;
  background-color: #1A1423;
}

.input input:focus::placeholder {
  color: #b8a75d;
  background-color: #1A1423;
}

.play-as button {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.play-as button:hover {
  /* background-color: #FCDC4D; */
  color: #000;
  border: none;
}

.active-btn {
  /* background-color: #FCDC4D; */
  color: #000;
  border: none;
}

/* CustomDialog styling ends-here*/

/* footer-section starts here */

.footer-content {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: footer;
  grid-column: span 3;
  grid-area: footer;
}

.socials-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: red; */
}

.social-icon {
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
}

/* footer-section ends here */

/* LOGIN PAGE STARTS HERE */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 100vh !important;
  font-family: "Rubik", sans-serif;
}

.login-container>.login-card {
  border: none !important;
  color: white !important;
  background-color: var(--primary-color);
}

.footer-content {
  color: white;
  width: 100%;
  padding: 0 1rem;

  /* background-color: yellow; */
}

/* LOGIN PAGE ENDS HERE */


@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* custom stylled buttons ends here */



/* PROFILE PAGE CSS STARTS HERE */

.profile-wrapper .nav-container {
  width: 90%;
  position: absolute;
}

.profile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* background-color: red !important; */
}

.profile-bg {
  width: 100%;
  position: relative;
  /* background-color: yellow; */
}

.profile-bg img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  top: 18rem;
  height: 30rem;
  width: 95%;
  position: absolute;
  border-radius: 1rem;
  /* background-color: red; */
}

.profile-img-container {
  position: relative;
  top: -5rem;
  width: 150px;
  height: 150px;
  border-radius: 100% !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.stats-container {
  position: relative;
  top: -3rem;
  width: 30%;
  height: 65%;
}

.data {
  margin: 0rem 0 1rem 0;
  padding: 0.8rem;
  border: 2px solid;
}

/* hour glass */
.loader-container {
  font-family: "rubik";
  z-index: 8 !important;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backdrop-filter: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: red; */
}

/* PROFILE PAGE CSS ENDS HERE */



/* =====================Mobile Portrait Size to Mobile Landscape Size (devices and browsers)===================== */
@media screen and (max-width: 479px) {

  .home_wrapper {
    margin-top: 1.5rem;
    width: 100%;
    /* background-color: red; */
  }

  .nav_wrapper {
    margin: 0 1rem;
    width: 100% !important;
    /* background-color: pink; */
  }

  .nav_wrapper>a {
    margin-right: 2rem;
    /* background-color: red; */
  }

  .home_page_container {
    /* background-color: red; */
    flex-direction: column;
  }

  .text_container {
    font-size: 2.8rem;
    margin: 2rem 0 0 0;
    /* background-color: red; */
  }

  .home_page_container canvas {
    display: flex;
    align-self: center !important;
    height: 90% !important;
    /* width: 90% !important; */
    margin: 1rem 0;
    /* background-color: red; */
  }

  .chess-mate {
    /* background-color: red; */
    width: 100vw !important;
    align-items: flex-start !important;
  }

  .main-container {
    /* background-color: red; */
    /* width: 100vw !important; */
    margin: 0 !important;
    align-items: flex-start !important;
  }

  .simple-board {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    /* background-color: yellow; */
    width: 100vw !important;
  }

  .nav-container {
    margin: 0 !important;
  }

  .chess-board {
    position: relative !important;
    margin-top: 1.5rem;
    top: 0;
  }

  .room-btn-container {
    margin: 0 !important;
  }

  .room-btn-container .button-50 {
    /* background-color: red !important; */
    margin: 0rem !important;
  }

  .room-btn-container .button-50:first-child {
    margin-right: 1rem !important;
  }

  .room-btn-container button {
    width: 50%;
    margin: 0rem !important;
  }

  .modal.show .modal-dialog {
    /* background-color: red; */
    width: 90%;
  }

  .chess-mate {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "simple-board"
      "footer";
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "simple-board"
      "footer";
  }

  .main-container {
    margin-top: 1rem;

    place-items: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(3, 1fr) !important; */
    grid-template-areas:
      "board"
      "chat"
      "history";
    /* background-color: red; */
  }



  .chat-container {
    margin: 0 1rem !important;
    /* background-color: yellow; */
  }

  .chat-header {
    /* background-color: red; */
    width: inherit !important;
  }

  .turns-container {
    margin: 0 1rem;
    /* background-color: #1a1a1a; */
  }

  .move-history {
    padding: 1rem;
  }

  .video-grid-container {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .peer {
    margin: 1rem 0;
    flex-direction: column;
    gap: 2rem;
  }

  .peer-id-input {
    margin-top: 2rem;
  }

  .form-container {
    width: 20% !important;
  }


  .footer-content {
    /* background-color: red; */
    color: white;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-self: flex-start;
    margin-top: 2rem;
    /* width: 80%; */
  }

  .footer-content .copyright {
    line-height: 1 !important;
  }

  .footer-content .dev-message {
    line-height: 1 !important;
  }

  .socials-links {
    height: 2rem !important;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }

  .form-container {
    width: 85% !important;
  }

  .stats-container {
    width: 70%;
  }

}

/* ===================Mobile Landscape Size to Tablet Portrait (devices and browsers)=================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .chess-mate {
    /* background-color: pink; */
    grid-column: 1fr;
  }

  .main-container {
    place-items: center;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "chess-board chess-board"
      "chat history";
  }

  .chat {
    height: 100%;
  }

  .chat-header {
    height: 30rem;
  }

  .chess-board {
    grid-area: chess-board;
  }

  .history {
    height: 100%;
  }

  .social-icon {
    font-size: 1rem;
  }
}

/* ==================All Mobile Sizes (devices and browser) ==================*/
/* @media only screen and (max-width: 767px) {
  .chess-mate {
    grid-column: 1fr;
  }

  .main-container {
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "chess-board chess-board"
      "chat history";
  }

  .chess-board {
    grid-area: chess-board;
  }

  .chat {
    height: 100%;
  }

  .chat-header {
    height: 40rem;
  }

  .history {
    height: 100%;
  }

} */

/* ================Tablet Portrait size to standard 960 (devices and browsers) ================ */
/* @media only screen and (min-width: 768px) and (max-width: 959px) {} */
@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .chess-mate {
    grid-column: 1fr;
  }

  .main-container {
    place-items: center;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "chess-board chess-board"
      "chat history";
  }

  .chess-board {
    grid-area: chess-board;
  }

  .chat {
    height: 100%;
  }

  .chat-header {
    height: 40rem;
  }

  .history {
    height: 100%;
  }


  .social-icon {
    font-size: 1rem;
  }
}

/* For Projectors or Higher Resolution Screens (Full HD) */
@media screen and (min-width: 1920px) {}

/*============================= Tablet landscape size to standard 960  =============================*/
@media only screen and (min-width: 959px) and (max-width: 1024px) {}

/* ============================= global tablet and mobile =============================*/
@media only screen and (max-width: 959px) {}