#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1586165368502-1bad197a6461?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1916&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  color: white !important;
}

.container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw !important;
}

.chess-board {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chess-board h1 {
  /* background-color: violet; */
}

#BasicBoard {
  /* background-color: aquamarine; */
}

.controls {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}